.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 240px;
  width: calc(100% - 2px);
  gap: 20px;
  background-color: var(--grey-color);
  border-radius: 5px;
  flex-shrink: 0;
  z-index: 100;
  outline: 1px solid var(--black-color);
  transition: background-color 0.2s ease;
}
.checkout-item:hover {
  background-color: #f5f5f5;
}
.checkout-item .item-image {
  width: 200px;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.checkout-item .item-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.checkout-item .item-details {
  flex: 1;
}
.checkout-item h4{
  color: var(--identity-color);
  font-size: 1.5rem !important;
  margin-block: 10px !important;
  font-size: 700;
}
.checkout-item.item-details h2{
  margin-bottom: 5px;
}

.product-keywords{
  margin: 0;
}
.takeOutItem,
.addItem {
  background-color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
}
.takeOutItem:hover,
.addItem:hover {
  outline: 1px solid var(--black-color);
  cursor: pointer;
}
.takeOutItem:active,
.addItem:active {
  background-color: var(--grey-color);
}
.takeOutItem.disabled-btn,
.addItem.disabled-btn {
  background-color: rgb(185, 185, 185);
  color: grey;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.takeOutItem.disabled-btn:hover,
.addItem.disabled-btn:hover {
  outline: none;
  cursor: not-allowed;
}
.itemQuantity {
  margin-inline: 15px;
  font-size: 1.2rem;
}
.item-rm {
  margin-top: 10px;
  border: none;
  background-color: var(--black-color);
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 50px;
}
.item-rm:hover {
  background-color: var(--red-color);
  transition: background-color 0.2s ease;
}

.product-size,
.product-option{
  cursor: not-allowed;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(185, 185, 185);
  color: grey;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}


@media (max-width: 1070px) {
  .checkout-item {
    height: 300px;
  }
}
