.profile-container {
  display: flex;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.sidebar {
  all: unset;
  background-color: #d7dbd6;
  color: black;
  padding: 20px;
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar .avatar {
  all: unset;
  margin-inline: auto;
  margin-bottom: 20px;
  display: block;
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: white;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sidebar .info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 0;
  overflow-y: auto;
}

.sidebar .info > li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.32);
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}
.sidebar .info > li:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  font-weight: 700;
}
.sidebar .info > li svg {
  margin-right: 20px;
}
.sidebar > p {
  margin-bottom: 20px;
  text-align: center;
}
.sidebar h2 {
  font-size: 1.5rem;
  text-align: center;
}
.sidebar h3 {
  margin-bottom: 5px;
  text-align: center;
}
.sidebar .log-out {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(195, 195, 195);
  color: rgb(104, 104, 104);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.2s ease;
  font-size: 1.3rem;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
}
.sidebar .log-out:hover {
  color: black;
  background-color: rgb(160, 160, 160);
}

.edit-user-info {
  padding: 0;
  position: absolute;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1000;
  top: 150px;
  right: 60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.2s ease;
  visibility: hidden;
  opacity: 0;
}
.edit-user-info:hover {
  background-color: var(--identity-color);
  color: white;
}
.edit-user-info:active {
  background-color: white;
  color: orange;
}
.sidebar:hover .edit-user-info,
.sidebar:hover .log-out {
  visibility: visible;
  opacity: 1;
}

.main {
  height: 100%;
  flex: 1;
  padding: 20px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stat-box h3 {
  margin-top: 20px;
}
.stat-box p {
  margin-top: 5px;
}
.stat-box canvas {
  max-width: 100%;
  max-height: 250px;
  margin-top: 10px;
}

.profile-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.table-wrapper {
  overflow: auto;
  border-radius: 8px;
  min-height: 350px;
}
.profile-stats > h3 {
  margin-bottom: 10px;
  flex-shrink: 0;
}
.profile-stats table {
  flex: 1;
  border-radius: 8px;
  width: 100%;
  min-width: 890px;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: auto;
}
.profile-stats thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.profile-stats th,
.profile-stats td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.profile-stats .order-details {
  padding: 5px;
}
.profile-stats button {
  padding-inline: 15px;
  border-radius: 50px;
  background-color: white;
  border: none;
  outline: 1px solid var(--black-color);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.profile-stats button:hover {
  background-color: var(--black-color);
  color: white;
}
.profile-stats tr:hover button {
  visibility: visible;
  opacity: 1;
}

.status.delivered {
  color: green;
  font-weight: bold;
}

.status.processing {
  color: orange;
  font-weight: bold;
}

.status.cancelled {
  color: var(--red-color);
  font-weight: bold;
}

.order-items-container {
  flex: 1;
  min-width: 100%;
  width: 50vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0;
}
.order-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 25px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
}
.order-item .item-image {
  background-color: var(--grey-color);
  width: 150px;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.order-item .item-image > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.order-item > p {
  color: grey;
}
.order-item .item-details > h4 {
  margin-top: 5px;
  color: green;
  font-size: 1.2rem;
}
.order-item .item-details > h2 {
  font-size: 1.3rem;
}

.order-item .item-buy-again {
  margin-left: auto;
  margin-right: 0;
  border: none;
  background-color: var(--black-color);
  color: white;
  padding: 7px 15px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.2s ease;
}
.order-item .item-buy-again:hover {
  color: white;
  background-color: #1db954;
}

.ordered-item-quantity {
  margin-left: auto;
  background-color: var(--grey-color);
  padding: 10px 20px;
  border-radius: 5px;
}
