.products-container {
  width: 100%;
  min-height: calc(100vh - 255px);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--product-cart-width));
  grid-template-rows: repeat(auto-fit, var(--product-cart-height));
  grid-gap: 10px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.shopping {
  display: grid;
  grid-template-columns: 320px 1fr;
  justify-items: center;
  gap: 15px;
}
.hide-side-bar-section {
  display: block;
  width: 100%;
}
#show-hide-filter {
  margin-left: 20px;
  padding-block: 10px;
  padding-inline: 10px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
  color: grey;
}
#show-hide-filter h2 {
  margin: 0;
  font-size: 1.3rem;
}
#show-hide-filter:hover {
  color: var(--black-color);
  background-color: rgb(255, 255, 255);
  outline: 1px solid var(--black-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#top-product-menu {
  background-color: var(--primary-color);
  padding-block: 10px;
  margin-block: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: sticky;
  top: 70px;
  z-index: 200;
    display: flex;
  align-items: center;
  justify-content: space-between;
}

#top-product-menu input{
  background-color: white;
  padding: 8px 15px;
  width: 500px;
  min-width: 0;
  border-radius: 100px;
  border: none;
  outline: 1px solid rgb(163, 163, 163);
  transition: all 0.2s ease;
  margin-right: 30px;
}

#top-product-menu input:hover,
#top-product-menu input:focus {
  outline: 1px solid var(--black-color);
  border: none;
  accent-color: none;
}

.customer-shop #top-product-menu{
  padding-right: 30px;
}
.customer-shop #top-product-menu > * {
  flex: 1;
}

.customer-shop #top-product-menu .listing-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

.customer-shop #top-product-menu select {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: 1px solid rgb(163, 163, 163);
  background-color: rgba(255, 255, 255, 0.48);
  appearance: auto;
  transition: all 0.2s ease;
}

.customer-shop #top-product-menu select:hover {
  background-color: var(--identity-color);
  color: white;
  outline: none;
}
.customer-shop #top-product-menu h1 {
  font-size: 1.8rem;
  text-align: left;
}

#top-product-menu .listing-search {
  background-color: white;
  padding: 8px 15px;
  width: 500px;
  min-width: 0;
  border-radius: 100px;
  border: none;
  outline: 1px solid rgb(163, 163, 163);
  transition: all 0.2s ease;
}

.listing-search:hover,
.listing-search:focus {
  outline: 1px solid var(--black-color);
  border: none;
  accent-color: none;
}
.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.product-brand,
.product-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}
.product-brand {
  background-color: var(--grey-color);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.product-badge {
  font-weight: 600;
}
.bottom-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.product-badge.amazon-choice {
  color: #1f509a;
  background-color: #d4ebf8;
}
.badge-brand {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.product-badge.best-seller {
  background-color: #ffd05071;
  color: #e58d0a;
}

.product-badge.new-release {
  background-color: #90c67c6e;
  color: #06923e;
}
.product-card:hover {
  outline: 2px solid var(--black-color);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.product-card:hover img {
  transform: scale(1.05);
}
.product-card .product-name h3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.product-card .product-name {
  height: auto;
}
.product-card:hover .product-name {
  color: #035a52;
}
.card-functions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-functions > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.card-functions > div *:hover {
  color: #035a52;
  cursor: pointer;
}
.card-functions > div *:active {
  color: #d6d6d6;
}

.customer-shop .loader{
  justify-self: center;
}
