.brand-container {
  margin-block: 80px;
  text-align: center;
  padding: 30px;
}
.brand-container h2{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.brand-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.brand-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, margin 0.5s ease;
}

.brand-card:hover {
  margin-inline: 20px;
  transform: scale(1.2);
}

.brand-card img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}
