.profile-container .top-customer .customer-card-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-block: 10px 30px;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 20px;
}
.profile-container .top-customer .top-customer-card {
  background: #152331;
  background: linear-gradient(to right, #152331, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.5s ease;
  width: 250px;
  flex-shrink: 0;
}
.profile-container .top-customer .top-customer-card:hover {
  transform: translate(5px, -5px);
}
.profile-container .top-customer .top-customer-card h3 {
  color: rgb(202, 202, 202);
}
.profile-container .top-customer .top-customer-card h2 {
  color: rgb(255, 255, 255);
}

.profile-container .top-customer .top-customer-card .profile {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 /1;
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
  padding: 7px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile-container .top-customer .top-customer-card .profile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile-stats .status select {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  padding: 1px 15px;
  padding-right: 0;
  border: none;
  outline: 1px solid black;
  appearance: auto;
  transition: all 0.2s ease;
  font-weight: 500;
  /* text-align: center;
  text-align-last: center;
  -moz-text-align-last: center; */
}

.profile-stats .status select:active {
  background-color: var(--black-color);
  color: white;
}
.profile-stats .status select:focus {
  accent-color: none;
}

.profile-stats .status.delivered select {
  color: var(--identity-color);
  outline-color: var(--identity-color);
}
.profile-stats .status.delivered select:hover {
  background-color: var(--identity-color);
  color: white;
}

.profile-stats .status.cancelled select {
  color: var(--red-color);
  outline-color: var(--red-color);
}
.profile-stats .status.cancelled select:hover {
  background-color: var(--red-color);
  color: white;
}

.profile-stats .status.processing select {
  color: orange;
  outline-color: orange;
}
.profile-stats .status.processing select:hover {
  background-color: orange;
  color: white;
}

.profile-stats .status.shipping select {
  color: #27548a;
  outline-color: #27548a;
}
.profile-stats .status.shipping select:hover {
  background-color: #27548a;
  color: white;
}
