.modal-forgotpass-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 1.1rem;
}
.modal-forgotpass-window .modal-content {
  background: white;
  padding: 40px 50px;
  border-radius: 10px;
  min-width: 450px;
  max-width: 90%;
  height: auto;
  max-height: calc(100vh - 200px);
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.modal-forgotpass-window .input-wrapper > input:focus {
  outline: none;
}
.modal-forgotpass-window .input-wrapper:hover * {
  color: var(--identity-color);
}
.modal-forgotpass-window .input-wrapper {
  position: relative;
  margin-bottom: 25px;
}
.modal-forgotpass-window .input-wrapper.last {
  margin: 0;
}
.modal-forgotpass-window .input-wrapper svg {
  position: absolute;
  top: 9px;
  right: 0;
}
.modal-forgotpass-window .input-wrapper > input {
  background-color: #33333300;
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  position: relative;
  font-size: 1.2rem;
}
.modal-forgotpass-window .btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.modal-forgotpass-window button {
  font-size: 1.2rem;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  transition: all 0.2s ease;
}
.modal-forgotpass-window button:first-child {
  background-color: var(--identity-color);
  color: white;
  font-weight: bold;
}
.modal-forgotpass-window button:last-child {
  background-color: white;
  outline: 1px solid var(--identity-color);
  color: var(--identity-color);
}
.modal-forgotpass-window button:first-child:hover {
  background-color: var(--black-color);
}
.modal-forgotpass-window button:last-child:hover {
  font-weight: bold;
  outline: none;
  background-color: orange;
  color: rgb(255, 255, 255);
}
.modal-forgotpass-window form > p {
  color: grey;
  max-width: 650px;
  text-align: center;
  padding: 25px 30px;
}

.send-verification-code,
.reset-password {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.send-verification-code.active,
.reset-password.active {
  opacity: 1;
  transform: translateX(0%);
  pointer-events: auto;
}

.send-verification-code.leave,
.reset-password.leave {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.modal-forgotpass-window .error-messages{
  color: var(--red-color);
  padding: 15px;
}