.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(194, 194, 194, 0.3);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.product-window {
  z-index: 1000;
  width: 80vw;
  height: 60vh;
  background-color: white;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.2s ease;
}
.product-window .head {
  width: 100%;
  padding-bottom: 10px;
  z-index: 10000000;
}
.product-window .head .fa-minus {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.product-window .head .fa-minus:hover {
  background-color: var(--grey-color);
}
.product-window .bottom {
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
  gap: 20px;
}
.product-window .image-holder {
  background-color: var(--grey-color);
  border-radius: 10px;
  flex: 1;
  overflow: hidden;
}
.product-window .item-details {
  flex: 2;
  background-color: whitesmoke;
  padding-inline: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.product-window .product-images {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.product-window .item-details h2 {
  font-size: 1.5rem;
  color: (--black-color);
  margin-top: 20px;
  margin-bottom: 0;
}
.product-window .item-details p {
  font-size: 1.1rem;
}
.product-window .product-keywords {
  color: grey;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.product-rating > img {
  min-width: 100px;
  max-width: 120px;
}
.product-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.product-rating p {
  margin: 0;
}
.product-rating span {
  color: grey;
}
.product-window .price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--identity-color);
  margin-block: 20px;
}
.product-window .addToCart-btn,
.product-window .editProduct-btn {
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--identity-color);
  color: white;
  border: none;
  border-radius: 50px;
}
.item-details .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  position: sticky;
  top: 0;
  z-index: 1000000;
  background-color: whitesmoke;
}

.product-window h4 {
  font-size: 1.3rem;
  margin-block: 10px;
}

.selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-inline: 1px;
}
.selection-container > div {
  padding: 8px 15px;
  border-radius: 5px;
  outline: 1px solid grey;
  transition: all 0.2s ease;
}
.selection-container > div:hover {
  background-color: var(--identity-color);
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
  outline: none;
}
.selection-container > div:active {
  background-color: white;
  color: var(--black-color);
  outline: none;
}

.selection-container > div.selected {
  font-weight: 600;
  background-color: var(--identity-color);
  color: white;
  outline: none;
}
.product-descriptions h4,
.product-reviews-container > h4,
.product-details > h4,
.product-features > h4 {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}
.product-categories {
  color: grey;
  margin-block: 5px;
}
.product-departments{
  color: grey;
  margin-bottom: 5px;
}
.product-details p {
  font-weight: 500;
  margin-top: 3px;
}
.product-details .product-badge {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1f509a;
  padding: 7px 15px;
  background-color: #d4ebf8;
  border-radius: 5px;
}

.product-availability {
  display: inline-block;
  background-color: #90c67c6e;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 700 !important;
  color: #06923E;
  padding: 7px 15px;
  border-radius: 5px;
}

.product-availability.availability-warning{
  background-color: #ffd05071;
  color: #e58d0a;
}
.product-details .product-badge {
  margin-block: 10px;
  margin-right: 10px;
}
.product-details .product-badge span {
  color: #1f509a;
}
.product-details span {
  margin-left: 10px;
  color: grey;
}
.product-features ul {
  padding-left: 20px;
}
.product-features li {
  list-style: disc;
  font-size: 1.1rem;
}
.product-descriptions p {
  margin: 0;
}

.size-chart-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
.chart-holder {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}
.chart-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-reviews-container {
  position: relative;
  width: 100%;
}
.product-review {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
}
.product-review.pin {
  background-color: #fec84e;
  background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
}

.product-review .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
}

.product-review .header h2 {
  margin: 0;
}

.product-review .header .profile-image {
  height: 30px;
  aspect-ratio: 1 /1;
  overflow: hidden;
  border-radius: 50%;
}

.product-review .header .review-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-review .header .profile-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.review-action > div {
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  outline: 1px solid var(--black-color);
  opacity: 0;
  transition: all 0.2s ease;
}

.review-action > div.pin-review:hover {
  background-color: #fec84e;
  color: var(--black-color);
  outline: none;
}

.product-review.pin .review-action > div.pin-review:hover,
.product-review.pin .review-action > div.delete-review:hover {
  background-color: white;
  color: var(--black-color);
  outline: none;
}

.review-action > div.delete-review:hover {
  background-color: #f8d7da;
  color: var(--red-color);
  outline: none;
}

.product-review:hover .review-action > div {
  visibility: visible;
  opacity: 1;
}

.add-comment {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 100px;
  margin-top: 30px;
}

.add-comment input {
  padding: 10px;
  padding-left: 15px;
  border-radius: 100px;
  background-color: white;
  border: none;
  flex: 1;
  min-width: 0;
  outline: 1px solid grey;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.add-comment input:focus,
.add-comment input:hover {
  outline-color: black;
}

.add-comment .post-comment {
  flex-shrink: 0 0;
  width: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  margin-right: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background-color: rgb(199, 206, 198);
  transition: all 0.2s ease;
}

.add-comment .post-comment:hover {
  background-color: var(--identity-color);
  color: white;
  transform: scale(1.1);
}

.add-comment .post-comment:active {
  background-color: orange;
}

.product-window .sellerId{
  color: grey;
}