.product-card {
  display: grid;
  grid-template-rows: 60% 1fr;
  background-color: #ffffff;
  width: var(--product-cart-width);
  height: var(--product-cart-height);
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.product-card h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-block: 10px;
}
.product-card .product-price {
  font-weight: 500;
  margin: 0;
}
.product-image-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(184, 184, 184, 0.37);
  border-radius: 10px;
}
.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: all 0.2s ease;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.product-brand,
.product-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}
.product-brand {
  background-color: var(--grey-color);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.product-badge {
  font-weight: 600;
}
.bottom-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.product-badge.amazon-choice {
  color: #1f509a;
  background-color: #d4ebf8;
}
.badge-brand {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.product-badge.best-seller {
  background-color: #ffd05071;
  color: #e58d0a;
}

.product-badge.new-release {
  background-color: #90c67c6e;
  color: #06923e;
}
.product-card:hover {
  outline: 2px solid var(--black-color);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.product-card:hover img {
  transform: scale(1.05);
}
.product-card .product-name h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.product-card .product-name {
  height: auto;
}
.product-card:hover .product-name {
  color: #035a52;
}
.card-functions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-functions > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.card-functions > div *:hover {
  color: #035a52;
  cursor: pointer;
}
.card-functions > div *:active {
  color: #d6d6d6;
}