body {
  margin: 0;
  background-clip: padding-box;
  background-position: center;
  position: relative;
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  width: 100%;
  overflow-x: hidden;
}
button {
  font-family: inherit;
}
* {
  box-sizing: border-box;
  font-family: Poppins, "Roboto Condensed", Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
}
