body{
    margin: 0;
    background: url("../../assets/logo/mario_uncompressed.gif");
    background-clip: padding-box;
    background-position: center;
    position: relative;
    background-color: #1C2F36;
    color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;
}
button{
    font-family: inherit;
}
*{
    box-sizing: border-box;
    font-family: Poppins, "Roboto Condensed", Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
}
