:root{
    --primary-color: #e8eae5;
    --identity-color: #035a52;
    --grey-color: #e7e7e7;
    --black-color: #1c2f36;
    --red-color: #ee2c00;
}
h2{
    font-size: 1.5rem;
}
button{
    transition: box-shadow 0.2s ease;
}
button:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}