.listing-page .product-price > span {
  font-weight: 700;
  color: grey;
}

.listing-page .badge > select {
  font-weight: 700;
  color: #7c7c7c;
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  min-width: 50%;
  display: inline;
  border: none;
}

.listing-page .badge > select.badge-select.amazon-choice {
  color: #1f509a;
  background-color: #d4ebf8;
}

.listing-page .badge > select.badge-select.best-seller {
  background-color: #ffd05071;
  color: #e58d0a;
}

.listing-page .badge > select.badge-select.new-release {
  background-color: #90c67c6e;
  color: #06923e;
}

.delete-btn {
  background-color: var(--red-color);
  color: white;
}
